.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    gap: 30px;
    width: 100%;
}

.slide-count {
    margin: 0 16px;
    font-size: 16px;
    color: #424961;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.slider-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}
  
.cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.prevBtn{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px #424961;
}

.NextBtn{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px  #424961;
    left: 0;
}

.icon{
    color: #424961;
}
